@model tester1.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)

        <div class="form-group">
            <div class="col-md-10">
                <strong>Mã danh mục</strong>
                @Html.DropDownListFor(model => model.MaDM, (SelectList)ViewBag.Categories, "Chọn danh mục", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaDM, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <strong>Tên sản phẩm</strong>
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <strong>Hình</strong>
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                <input type="file" name="fileUpload" id="fileUpload" accept="image/*"
                       style="display:none;" />
                <input type="button" id="btnUpload" value="Chọn" class="btn btn-success" />
                @if (!string.IsNullOrEmpty(@Model.HinhAnh))
                {
                    <img width="300" height="300" style="object-fit:cover" src="@Model.HinhAnh" id="pictureUpload1" />
                }
                <img style="display:none" src="" id="pictureUpload" width="300" height="300" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <strong>Gía nhập</strong>
                @Html.EditorFor(model => model.GiaNhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaNhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <strong>Gía bán</strong>
                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <strong>Mô tả</strong>
                <textarea class="form-control" name="NoiDung" id="inputND"> 
                @Model.MoTa
            </textarea>
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-10">
                <strong>Tình trạng</strong>
                @Html.DropDownListFor(model => model.IdS, (SelectList)ViewBag.StatusList, "-- Select status --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <strong>Nội dung</strong>
                <textarea class="form-control" name="NoiDung" id="inputND"> 
                @Model.NoiDung
            </textarea>
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn-icon-split btn btn-success" type="submit">
                    <span class="icon text-white">
                        <i class="fas fa-check"></i>
                        <span style="padding : 0" class="text">
                            Lưu
                        </span>
                    </span>
                </button>

            </div>
        </div>

    </div>
}
<div>
    <div>
        <button class="btn-icon-split btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", "ListSP")'">
            <span class="icon text-white">
                <i class="fas fa-arrow-right"></i>
                <span style="padding : 0" class="text">
                    Trở về
                </span>
            </span>
        </button>

    </div>

</div>
@section DoanJS{
    <script>
        CKEDITOR.replace('inputND')
    </script>
}
<script>
    $(function () {
        $('#btnUpload').click(function () {
            $('#fileUpload').trigger('click');
        });

        $('#fileUpload').change(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $('#fileUpload').get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append('file', files[0]);

                $.ajax({
                    type: 'POST',
                    url: '/ListSP/ProcessUpload',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (urlImage) {
                        $('#pictureUpload').attr('src', urlImage);
                        $('#HinhAnh').val(urlImage);
                    },
                    error: function (err) {
                        alert('Error ' + err.statusText);
                    }
                });
            }
        });
    });
</script>
<script>
    $('#fileUpload').change(function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#pictureUpload').attr('src', e.target.result);
        }

        reader.readAsDataURL(file);
    });
    $(function () {
        var img = $('#pictureUpload');
        if (img.attr('src') !== '') {
            img.hide();
        }
    });
    $('#fileUpload').change(function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#pictureUpload').attr('src', e.target.result);
            $('#pictureUpload').show();
        }

        reader.readAsDataURL(file);
    });
</script>