@model tester1.Models.RatingViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2 {
        font-size: 30px;
    }
    .ratingStar {
        margin-top: 15px;
        color: gold; /* Màu vàng thay vì màu cam */
        font-size: 24px; /* Kích thước ngôi sao */
        margin-right: 5px; /* Khoảng cách giữa các ngôi sao */
        transition: color 0.3s ease; /* Chuyển đổi màu trong 0.3 giây với hiệu ứng dễ dàng */
        cursor: pointer; /* Hiển thị con trỏ khi di chuột */
    }
    .ratingStar:hover{
        color: orange;
    }
    .form-control1 {
        width: 30%; /* Sử dụng toàn bộ chiều rộng của container */
        height: 150px; /* Đặt chiều cao cố định */
        resize: vertical; /* Cho phép chỉ cuộn dọc */
        margin-top: 10px; /* Khoảng cách giữa textarea và ngôi sao */
        border-width: 3px; /* Độ dày 3px */
        border-style: solid; /* Kiểu nét là solid */
        border-color: #e6e6e6; /* Màu sắc của viền */
        background-color: rgb(241, 243, 244);
    }
    .btn-primary {
        background-color: #1dc485;
        color: black; /* Màu chữ trắng */
        border: none; /* Không có đường viền */
        padding: 10px 20px; /* Kích thước padding */
        font-size: 16px; /* Kích thước chữ */
        cursor: pointer; /* Hiển thị con trỏ khi di chuột */
        width: 55px;
        margin-bottom: 20px;
        margin-left:10px;
    }
        .btn-primary:hover {
            background-color: #50ab56;
        }
</style>

<h2>Đánh giá</h2>
@using (Html.BeginForm("Create", "Rating", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <span class="text-warning">
        <i class="ratingStar fas fa-star" data-value="1"></i>
        <i class="ratingStar far fa-star" data-value="2"></i>
        <i class="ratingStar far fa-star" data-value="3"></i>
        <i class="ratingStar far fa-star" data-value="4"></i>
        <i class="ratingStar far fa-star" data-value="5"></i>
    </span>

    @*<input type="hidden" name="Rating" id="ratingsValue" value="1" />

        <div class="form-group">
            @Html.LabelFor(model => model.Rating)
            @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Rating)
        </div>*@
    @Html.HiddenFor(model => model.Rating, new { id = "ratingsValue" })

    @*<div class="form-group">
            @Html.LabelFor(model => model.Rating)
            @Html.TextBoxFor(model => model.Rating, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Rating)
        </div>*@

    <div class="form-group">
        @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control1" })
        @Html.ValidationMessageFor(model => model.NoiDung)
        @Html.HiddenFor(model => model.MaSP)
        @Html.HiddenFor(model => model.MaDH)
        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
    </div>
}

<div>
    <a asp-action="Create" asp-controller="Rating" asp-route-MaSP="@Model.MaSP"></a>
</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/bfd8721e82.js" crossorigin="anonymous"></script>
    <script>
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

        //$(".ratingStar").click(function () {
        //    var starValue = $(this).attr("data-value");

        //    $("#ratingsValue").val(starValue);
        //})
        $(".ratingStar").click(function () {
            var starValue = $(this).attr("data-value");
            $("#ratingsValue").val(starValue);
            $("#Rating").val(starValue); // Cập nhật giá trị Rating
        });
    </script>
}