@model IEnumerable<tester1.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActivePage = "Index";
}
<!--

<div class="product-top">
    <div class="product-new">
        <img src="~/Content/img/pro-top.jpg" alt="">
        <div class="star star-top">
            Mới! <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div class="selling-product">
        <div class="product-title">
            <h1>Sản phẩm bán chạy</h1>
            <p>Chúng tôi hài lòng khi mang đến cho Quý khách hàng những sản phẩm chất lượng với mức giá ưu đãi nhất thị trường.</p>
        </div>
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" loop="true">
            <swiper-slide>
                <a href="">
                    <img src="~/Content/img/cachuabi.jpg" alt="">
                </a>
            </swiper-slide>
            <swiper-slide>
                <a href="">
                    <img src="~/Content/img/chuoi.jpg" alt="">
                </a>
            </swiper-slide>

        </swiper-container>
    </div>

</div>
    -->
<!-- banner top -->
<style>
    .contact {
        width:92.4%
    }
</style>

<link href="~/Content/css/animation.css" rel="stylesheet" />
<style>
    .row{
        width:1500px;
    }
</style>
<!-- product-container -->
<div style="margin-left:-40px" class="row  product-container">
    <div  class="col l-11">
        <div class="contact">
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <div class="phone-title">
                    <h3>Hotline</h3>
                    <strong>0372374312</strong>
                </div>
            </div>
            <div class="option">
                <p>Bạn chọn 1 trong 2 cách để bạn mua hàng</p>
                <div class="service">
                    <i class="fa-sharp fa-solid fa-arrow-left"></i>
                    <strong>Hoặc</strong>
                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                </div>

            </div>
            <div class="cart">
                <div style="text-align: right;">
                    <i class="fa-solid fa-cart-plus"></i>
                    <div class="title-cart">
                        <p>Giỏ hàng</p>
                        <strong>@Html.Action("BagCart", "AddCart") sản phẩm</strong>
                    </div>
                </div>

            </div>
        </div>
        @if (Model.Any())
        {
    <div class="row">

        <div style="" class="row-container">
            @{
                var productCount = 0;
                foreach (var item in Model)
                {
                    if (item.MaDM == 1)
                    {
                        <div id="productContainer" class="col l-5 item">
                            <div class="section-product">
                                <a href="@Url.Action("DetailProduct", "Home", new { id = item.MaSP })">
                                    <img height="256" width="229" style="object-fit:contain" src="@item.HinhAnh" alt="">
                                </a>
                                <div class="title-product">
                                    <h1>
                                        @item.TenSP
                                    </h1>
                                    <p>
                                        <small>Giá:</small>
                                        @string.Format("{0:#,##0}", item.GiaBan)<strong style="text-decoration-line: underline">đ</strong>
                                    </p>

                                    <div class="btn btn-product" onclick="addToCart(@item.MaSP)">
                                        <span>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            Đặt món
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        productCount++;
                        if (productCount >= 10) // Giới hạn số lượng sản phẩm
                        {
                            break; // Kết thúc vòng lặp khi đạt đến giới hạn
                        }
                    }

                }
            }


        </div>
        <div class="row-container">
            @{
                var productCount2 = 0;
                foreach (var item in Model)
                {
                    if (item.MaDM == 2)
                    {
                        <div id="productContainer" class="col l-5 item">
                            <div class="section-product">
                                <a href="@Url.Action("DetailProduct", "Home", new { id = item.MaSP })">
                                    <img height="256" width="229" style="object-fit:contain" src="@item.HinhAnh" alt="">
                                </a>
                                <div class="title-product">
                                    <h1>
                                        @item.TenSP
                                    </h1>
                                    <p>
                                        <small>Giá:</small>
                                        @string.Format("{0:#,##0}", item.GiaBan)<strong style="text-decoration-line: underline">đ</strong>
                                    </p>

                                    <div class="btn btn-product" onclick="addToCart(@item.MaSP)">
                                        <span>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            Đặt món
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        productCount++;
                        if (productCount2 >= 10) // Giới hạn số lượng sản phẩm
                        {
                            break; // Kết thúc vòng lặp khi đạt đến giới hạn
                        }
                    }

                }
            }


        </div>

        <div class="row-container">
            @{
                var productCount3 = 0;
                foreach (var item in Model)
                {
                    if (item.MaDM == 3)
                    {
                        <div id="productContainer" class="col l-5 item">
                            <div class="section-product">
                                <a href="@Url.Action("DetailProduct", "Home", new { id = item.MaSP })">
                                    <img height="256" width="229" style="object-fit:contain" src="@item.HinhAnh" alt="">
                                </a>
                                <div class="title-product">
                                    <h1>
                                        @item.TenSP
                                    </h1>
                                    <p>
                                        <small>Giá:</small>
                                        @string.Format("{0:#,##0}", item.GiaBan)<strong style="text-decoration-line: underline">đ</strong>
                                    </p>

                                    <div class="btn btn-product" onclick="addToCart(@item.MaSP)">
                                        <span>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            Đặt món
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        productCount++;
                        if (productCount3 >= 10) // Giới hạn số lượng sản phẩm
                        {
                            break; // Kết thúc vòng lặp khi đạt đến giới hạn
                        }
                    }

                }
            }


        </div>

        <div class="row-container">
            @{
                var productCount4 = 0;
                foreach (var item in Model)
                {
                    if (item.MaDM == 4)
                    {
                        <div id="productContainer" class="col l-5 item">
                            <div class="section-product">
                                <a href="@Url.Action("DetailProduct", "Home", new { id = item.MaSP })">
                                    <img height="256" width="229" style="object-fit:contain" src="@item.HinhAnh" alt="">
                                </a>
                                <div class="title-product">
                                    <h1>
                                        @item.TenSP
                                    </h1>
                                    <p>
                                        <small>Giá:</small>
                                        @string.Format("{0:#,##0}", item.GiaBan)<strong style="text-decoration-line: underline">đ</strong>
                                    </p>

                                    <div class="btn btn-product" onclick="addToCart(@item.MaSP)">
                                        <span>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            Đặt món
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        productCount++;
                        if (productCount4 >= 10) // Giới hạn số lượng sản phẩm
                        {
                            break; // Kết thúc vòng lặp khi đạt đến giới hạn
                        }
                    }

                }
            }


        </div>
    </div>
        }
        else
        {
        <p style="text-align: center; font-size: 20px; line-height: 20px; margin-left: -25px; margin-top: 85px;">Không có sản phẩm nào phù hợp với từ khóa tìm kiếm của bạn.</p>
        }
    </div>

    <!-- sidebar -->
</div>
<script>
        const row = document.getElementById('productRow');
        let scrollAmount = 0;
        const scrollDelay = 2000; // Thời gian trì hoãn cuộn

        function scrollRow() {
        const itemWidth = row.querySelector('.item').offsetWidth;
        if (scrollAmount < itemWidth) {
            scrollAmount += itemWidth; // Cuộn một lượng bằng chiều rộng của một cột
        row.scrollTo({
            left: scrollAmount,
        behavior: 'smooth' // Hiệu ứng cuộn mượt
            });
        } else {
            scrollAmount = 0; // Cuộn về đầu
        row.scrollTo({
            left: scrollAmount,
        behavior: 'smooth'
            });
        }
    }

        setInterval(scrollRow, scrollDelay); // Tự động cuộn sau mỗi khoảng thời gian
</script>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .swal2-popup {
            font-size: 1.4rem !important;
        }
    </style>
    <script>
        function addToCart(productId) {
            // Gửi yêu cầu thêm sản phẩm vào giỏ hàng bằng AJAX
            $.ajax({
                url: '/AddCart/AddItem',
                type: 'GET',
                data: { productId: productId, quantity: 1 },
                success: function (response) {
                    // Hiển thị thông báo thành công bằng SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                        text: 'Sản phẩm đã được thêm vào giỏ hàng',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        // Làm mới trang sau khi nhấp OK
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                },
                error: function () {
                    // Xử lý lỗi nếu có bằng SweetAlert2
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Đã xảy ra lỗi. Vui lòng thử lại sau',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }
    </script>
}
