@model IEnumerable<tester1.Models.QLKMai>
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h2>Khuyến mãi</h2>
<style>
    /* Áp dụng CSS cho bảng */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    th, td {
        padding: 8px 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Loại Khuyến Mãi</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Giá trị sale</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>@item.KhuyenMai.NameKm</td>
            <td>@(item.KhuyenMai.StartTime.HasValue ? item.KhuyenMai.StartTime.Value.ToString("dd/MM/yyyy") : "")</td>
            <td>@(item.KhuyenMai.EndTime.HasValue ? item.KhuyenMai.EndTime.Value.ToString("dd/MM/yyyy") : "")</td>
            <td>@item.KhuyenMai.PromoSale<span>%</span></td>
            <td>@item.KhuyenMai.Quantity</td>
            <td>
                <button class="btn-icon-split btn btn-warning" type="button" onclick="location.href='@Url.Action("Edit", "KhuyenMai", new { id = item.KhuyenMai.IdKm })'">
                    <span class="icon text-white">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span style="padding : 0" class="text">
                            Sửa
                        </span>
                    </span>
                </button>

                <button class="btn-icon-split btn btn-danger" type="button" onclick="location.href='@Url.Action("Delete", "KhuyenMai", new { id = item.KhuyenMai.IdKm })'">
                    <span class="icon text-white">
                        <i class="fas fa-trash"></i>
                        <span style="padding : 0" class="text">
                            Xóa
                        </span>
                    </span>
                </button>
            </td>
        </tr>
        }

    </tbody>
    <p style="color : #000" class="btn btn-link">
        <button class="btn-icon-split btn btn-success" type="button" onclick="location.href='@Url.Action("Create", "KhuyenMai")'">
            <span class="icon text-white">
                <span style="padding : 0" class="text">
                    Tạo
                </span>
            </span>
        </button>
    </p>

</table>